header {
    text-align: center;
    padding: 30px;
    position: sticky;
    top: 0;
    right: 0; 
    left: 0 ;
    background-color: rgba(241, 241, 241, 0.5);
    backdrop-filter: blur(80px);
    box-shadow: 0 4px 8px rgb(216, 216, 216);
    z-index: 999;
}

.header__titulo {
    font-family: var(--fonte-titulo);
    font-weight: var(--fonte-titulo-peso);
    margin: 0;
}

.header__texto {
    font-family: var(--fonte-paragrafo);
    font-weight: var(--fonte-paragrafo-peso);
    margin: 0;
}
